
#top_banner{
    height: 40px;
    width: 100%;
    position: fixed;
    top:0;
    background: #333;
    z-index: 100;
}
#top_banner_ul1{
    float: left;
    margin-left: 100px;
}
#top_banner_ul2{
    float: right;
    margin-right: 150px;
}
#top_banner_ul2 img{
    margin-top:5px
}
#top_banner_ul1 li,#top_banner_ul2 li{
    float: left;
    height: 40px;
}
#top_banner_ul1 a,#top_banner_ul2 a{
    display: block;
    line-height: 40px;
    font-size: 14px;
    color: #ccc;
    padding: 0 10px;
    cursor: pointer;
}
#top_banner_ul1 a:hover,#top_banner_ul2 a:hover{
    background: black;
}
header{
    position: relative;
}
nav{
    padding-top: 60px;
    margin-left: 300px;
    float: left;
}
.clearfix:after{
    content: '';
    clear: both;
    display: block;
}
#main_nav li{
    float: left;
    margin-left: 30px;
    border-right: 1px solid #9c9c9c;
}
#main_nav li a{
    text-align: center;
    cursor: pointer;
    font-size: 20px;
    line-height: 40px;
    margin-right: 20px;
    color: #333333;
}
#menu1 a{
    color: #333333;
}
#main_nav span{
    display: inline-block;
    font-size: 10px;
    font-weight: bold;

    padding-left: 5px;
    vertical-align: middle;

}
#main_nav li a:hover{
    color: #faa7bd;
}
#menu1{
    position: absolute;
    bottom:-100px;
    left: 420px;
    z-index: 1000;
    background: ghostwhite;
    opacity: .9;
    display: none;
}
#menu1 ul li{
    padding: 5px;
    cursor: pointer;
}
#menu1 ul li:hover{
    background: #FAA7BD;
}
#section1{
    border: 0 solid black;
    width: 800px;
    height: 500px;
    margin: 30px auto;
    position: relative;
    overflow: hidden;
}
#section1 ul{
    position: absolute;
    height: 400px;
    width:3200px;
}
#section1 ul li{
    float: left;
    list-style: none;
}
#button{
    position: absolute;
    height: 10px;
    width: 100px;
    z-index: 2;
    bottom: 20px;
    left: 350px;
}
#button span {
    cursor: pointer;
    float: left;
    border: 1px solid #fff;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #333;
    margin-right: 10px;
}
.active {
    background: orangered !important;
}
.arrow {

    text-decoration: none;
    cursor: pointer;
    line-height: 39px;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    width: 40px;
    height: 40px;
    position: absolute;
    z-index: 2;
    top: 230px;
    background-color: RGBA(0,0,0,.3);
    color: #fff;
    display: none;
}
.arrow:hover {
    background-color: RGBA(0,0,0,.7);
}
#prev {
    left: 20px;
}
#next {
    right: 20px;
}
#section2{
    width: 800px;
    margin: 30px auto;
    background: #eeeeee;
    padding-top: 20px;
    opacity: 0.8;
}
.gradient{
    background: -webkit-linear-gradient(#eeeeee, white); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#eeeeee, white); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#eeeeee, white); /* Firefox 3.6 - 15 */
    background: linear-gradient(#e2e2e2, white)!important; /* 标准的语法 */
}
#section2 dl{
    color: #333;
    display: inline-block;
    width: 250px;
    height: 100px;
    vertical-align: top;
    line-height: 1.2em;
    padding-left: 10px;
}
#section2 dl dt{
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
}
#section2 dl dd{
    font-size: 12px;
    padding: 5px;
}
#section3{
    width: 800px;
    margin: 10px auto;
    padding-left: 10px;
}
#section3_head h3{
    display: inline-block;
    color: #666;
    font-size: 20px;
    margin-right:20px;

    cursor: pointer;
    padding: 5px 5px 7px;
}
.active2{
    border-bottom: #e9706a 2px solid;
    color: #e9706a!important;
}
#section3_head{
    border-bottom: 1px solid #f6f6f6;
    margin-bottom: 10px;
}
#caixi{
    display: block;
}
#caixi dl{
    display: inline-block;
    padding-right:10px;
    cursor: pointer;
    width: 180px;
    height: 213px;
    position: relative;
}
#caixi dd{
    position: absolute;
    text-align: center;
    font-size: 18px;
    line-height: 120%;
    color: #666;
    bottom: 0;
    left: 20px;
}
#section3_remeng{
    display: block;
}
#section3_remeng dl{
    display: inline-block;
    padding-right:10px;
    cursor: pointer;
    width: 180px;
    height: 213px;
    position: relative;
}
#section3_remeng dd{
    position: absolute;
    text-align: center;
    font-size: 18px;
    line-height: 120%;
    color: #666;
    bottom: 0;
    left: 50px;
}
#xiangshangjiantou{
    position: fixed;
    right: 20px;
    bottom: 50px;
    display: none;
    cursor: pointer;
}
#liuyan{
    position: fixed;
    cursor: pointer;
    left: -20px;
    top:400px;
    opacity: .9;

}
#messagearea{
    width: 400px;
    top:200px;
    left: 475px;
    position: absolute;
    background: white;
    display: none;
    z-index: 1000;
    opacity: 0;
}
#messagearea_close{
    position: absolute;
    right: 3px;
    top:3px;
    cursor: pointer;
}
#messagearea p{
    text-align: center;
    margin:30px ;
    color: #e9706a;
    font-size: 24px;
}
#messagearea textarea{
    margin: 20px 50px;
    width: 300px;
    height: 100px;
}
#messagearea_odiv{
    height: 10px;
    /*width: 305px;*/
    background:linear-gradient(#acc2c4, #757575);
    position: absolute;
    left: 50px;
    bottom: 30px;

}
#btn1{
    margin-left:194px;
    margin-bottom: 50px;
}
footer{
    text-align: center;
    font-size: 12px;
    color: #666666;
    margin-top: 80px;
    background: gainsboro;
    padding: 20px;
}
.cover{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background: #7a7a7a;
    opacity:1;
}
.uncover{
    background: white;
    z-index: -1000;
    opacity:1;
}











